<!doctype html>
<html lang="es-419">

<%- include('../includes/head.ejs') %>

<body>
    <!--Barra de navegacion-->
<%- include('../includes/navigation.ejs') %>
    <!--Barra de navegacion-->

    <main>

        <!-- CONTENIDO PRINCIPAL -->

        <!--Botones flotantes: whatsapp y facebook-->
<%- include('../includes/chat-buttons.ejs') %>
        <!--Botones flotantes: whatsapp y facebook-->

        <div class="container pilar pt-5 pb-3 mt-4-5rem">
            <h1 class="naranja pb-5 text-center">Aviso de privacidad</h1>
            <p>Este AVISO DE PRIVACIDAD forma parte del uso del sitio web: <a
                    href="https://www.colegiomontessoriveracruz.com/">www.colegiomontessoriveracruz.com</a> y de las
                operaciones realizadas en el Colegio vía telefónica y/o presencial.</p>
            <p>Responsable de la protección, tratamiento y uso de sus datos personales COLEGIO MONTESSORI DE LA VERACRUZ
                S.C con domicilio en Carretera Playa de Vacas-Boca del Río #1366, 94274 Playa de Vacas, Ver.</p>
            <h4 class="text-center azul2 py-3">Cómo contactarnos:</h4>
            <p>Puede enviar un correo a la gerencia administrativa responsable del cuidado y manejo de sus datos a la
                siguiente dirección electrónica: <a href="mailto:admoncmv2019@gmail.com"
                    style="font-size: .9rem;">admoncmv2019@gmail.com</a>
                ó vía telefónica: <a href="tel:+522291-77-12-17"><strong>(229) 177 1217</strong></a></p>
            <h4 class="text-center azul2 py-3">¿Para qué fines recabamos y utilizamos sus datos personales?</h4>
            <p>Sus datos personales serán utilizados para las siguientes finalidades:</p>
            <ul>
                <li>Proveer los servicios y productos requeridos por Usted;</li>
                <li>Informar sobre cambios o nuevos productos o servicios que estén relacionados con el contratado o
                    adquirido por el cliente;</li>
                <li>Dar cumplimiento a obligaciones contraídas con nuestros clientes;</li>
                <li>Evaluar la calidad del servicio.</li>
            </ul>
            <h4 class="text-center azul2 py-3">¿Qué datos personales obtenemos y de dónde?</h4>
            <p>Para las finalidades señaladas en el presente aviso de privacidad, podemos recabar sus datos personales
                de distintas formas: cuando Usted nos los proporciona directamente; cuando visita nuestro sitio de
                Internet o utiliza nuestros servicios en línea, redes sociales y cuando obtenemos información a través
                de otras fuentes que están permitidas por la ley.</p>
            <h4 class="text-center azul2 py-3">Datos personales que recabamos de forma directa</h4>
            <p>Recabamos sus datos personales de forma directa cuando usted mismo nos los proporciona por diversos
                medios, como cuando participa en nuestras promociones o nos da información con objeto de que le
                prestemos un servicio. Los datos que obtenemos por este medio pueden ser, entre otros:</p>
            <ul>
                <li>Nombre </li>
                <li>Dirección </li>
                <li>Teléfono</li>
                <li>Sexo </li>
                <li>Edad </li>
                <li>Fecha de nacimiento </li>
                <li>Correo Electrónico</li>
            </ul>
            <p>Datos personales que recabamos cuando visita nuestro sitio de Internet o utiliza nuestros servicios en
                línea:</p>
            <ul>
                <li>Nombre </li>
                <li>Dirección </li>
                <li>Teléfono </li>
                <li>Sexo </li>
                <li>Edad </li>
                <li>Fecha de nacimiento </li>
                <li>Correo Electrónico </li>
                <li>ID de Facebook </li>
                <li>Twitter y/o Linkedin y demás redes sociales existentes, entre otros.</li>
            </ul>
            <h4 class="text-center azul2 py-3">¿Cómo puede limitar el uso o divulgación de sus datos personales?</h4>
            <p>Usted puede dejar de recibir mensajes promocionales por teléfono fijo, celular, correo electrónico y
                correo postal siguiendo los siguientes pasos: </p>
            <p>Enviando un correo electrónico a la siguiente dirección <a
                    href="mailto:admoncmv2019@gmail.com"
                    style="font-size: .9rem;">admoncmv2019@gmail.com</a>
                donde
                indique su solicitud y los datos necesarios como lo son Nombre completo (nombre o nombres y apellido
                o apellidos), teléfono y dirección física o electrónica para fines de notificaciones relacionadas al
                caso o para cualquier duda o aclaración comunicarse a nuestra gerencia administrativa vía telefónica:
                <a href="tel:+522291-77-12-17"><strong>(229) 177 1217</strong></a>, esta información será resguardada bajo la misma ley.</p>
            <h4 class="text-center azul2 py-3">¿Cómo acceder o rectificar sus datos personales o cancelar u oponerse a
                su uso?</h4>
            <p>Usted tiene derecho de acceder a sus datos personales que poseemos y a los detalles del tratamiento de
                los mismos, así como a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando
                considere que no se requieren para alguna de las finalidades señaladas en el presente aviso de
                privacidad, estén siendo utilizados para finalidades no consentidas o haya finalizado la relación
                contractual o de servicio, o bien, oponerse al tratamiento de los mismos para fines específicos.</p>
            <p>El mecanismo que se ha implementado para el ejercicio de dichos derechos son a través de la presentación
                de la solicitud respectiva, enviando un correo electrónico a la siguiente dirección
                <a href="mailto:admoncmv2019@gmail.com"
                    style="font-size: .9rem;">admoncmv2019@gmail.com</a> donde
                indique su solicitud y los datos necesarios como lo son
                Nombre completo (nombre o nombres y apellido o apellidos), teléfono y dirección física o electrónica
                para fines de notificaciones relacionadas al caso o para cualquier duda o aclaración comunicarse a
                nuestra gerencia administrativa vía telefónica: <a href="tel:+522291-77-12-17"><strong>(229) 177 1217</strong></a>, esta información será resguardada
                bajo la misma ley.</p>
            <p>El plazo para atender su solicitud es de 20 días hábiles y le informaremos sobre la procedencia de la
                misma a través de los medios que usted nos proporciono para notificarle.</p>
            <h4 class="text-center azul2 py-3">¿Cómo puede revocar su consentimiento para el tratamiento de sus datos?
            </h4>
            <p>En todo momento, Usted podrá revocar el consentimiento que nos ha otorgado para el tratamiento de sus
                datos personales, a fin de que dejemos de hacer uso de los mismos. Para ello, es necesario que presente
                su petición enviando un correo electrónico a la siguiente dirección
                <a href="mailto:admoncmv2019@gmail.com"
                    style="font-size: .9rem;">admoncmv2019@gmail.com</a>
                donde indique su solicitud y los datos necesarios como lo son Nombre completo (nombre o nombres y
                apellido o apellidos), teléfono y dirección física o electrónica para fines de notificaciones
                relacionadas al caso o para cualquier duda o aclaración comunicarse a nuestra gerencia administrativa
                vía telefónica: <a href="tel:+522291-77-12-17"><strong>(229) 177 1217</strong></a>, esta información será resguardada bajo la misma ley.</p>
            <p>El plazo para atender su solicitud es de 20 días hábiles y le informaremos sobre la procedencia de la
                misma a través de los medios que usted nos proporciono para notificarle.</p>
            <p>Sus datos no serán transferidos.</p>
            <p>Nos comprometemos a no transferir su información personal a terceros sin su consentimiento.</p>
            <h4 class="text-center azul2 py-3">Modificaciones al aviso de privacidad</h4>
            <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente
                aviso de privacidad, para la atención de novedades legislativas, políticas internas o nuevos
                requerimientos para la prestación u ofrecimiento de nuestros servicios o productos.</p>
            <p>Estas modificaciones estarán disponibles al público a través de los siguientes medios: (I) anuncios
                visibles en nuestros establecimientos;(II) trípticos o folletos disponibles en nuestros
                establecimientos; (III) en nuestra página de Internet (sección aviso de privacidad); (IV) o se las
                haremos llegar al último correo electrónico que nos haya proporcionado.</p>
            <h4 class="text-center azul2 py-3">Uso de cookies, web beacons y Links a sitios de terceros.</h4>
            <p>Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del
                equipo de cómputo del usuario al navegar en una página de Internet específica, que permiten recordar al
                servidor de Internet algunos datos sobre este usuario, entre ellos, sus preferencias para la
                visualización de las páginas en ese servidor, nombre y contraseña.</p>
            <p>Por su parte, las web beacons son imágenes insertadas en una página de Internet o correo electrónico, que
                puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre
                la dirección IP del usuario, duración del tiempo de interacción en dicha página y el tipo de navegador
                utilizado, entre otros</p>
            <p>Le informamos que utilizamos cookies y web beacons para obtener información personal de Usted, como la
                siguiente:</p>
            <ul>
                <li>Su tipo de navegador y sistema operativo. </li>
                <li>Las páginas de Internet que visita.</li>
                <li>Los vínculos que sigue.</li>
                <li>La dirección IP. </li>
                <li>El sitio que visitó antes de entrar al nuestro.</li>
            </ul>
            <p>Estas cookies y otras tecnologías pueden ser deshabilitadas. Existen diversos sitios en nuestro sitio de
                Internet que pueden conectarse con otros sitios web que no funcionan bajo las políticas de privacidad
                del sitio. Cuando usted se conecta a otros sitios web, las prácticas de privacidad de nuestro sitio de
                Internet así como el presente Aviso ya no tienen validez. Invitamos a los usuarios a revisar las
                políticas de privacidad así como el Aviso correspondiente de cada sitio antes de revelar cualquier
                información de identificación personal.</p>
            <h4 class="text-center azul2 py-3">¿Ante quién puede presentar sus quejas y denuncias por el tratamiento
                indebido de sus datos personales?</h4>
            <p>Si usted considera que su derecho de protección de datos personales ha sido lesionado por alguna
                conducta de nuestros empleados o de nuestras actuaciones o respuestas, presume que en el tratamiento de
                sus datos personales existe alguna violación a las disposiciones previstas en la Ley Federal de
                Protección de Datos Personales en Posesión de los Particulares, podrá interponer la queja o denuncia
                correspondiente ante el IFAI, para mayor información visite <a href="http://www.ifai.org.mx">www.ifai.org.mx</a></p>

            <p class="azul1">Fecha última de actualización: Viernes 4 de Octubre del 2024.</p>
        </div>

        <!--footer-->
<%- include('../includes/footer.ejs') %>
        <!--footer-->

    </main>

  <!-- Optional JavaScript -->
<%- include('../includes/optional-javascript.ejs') %>
  <!-- Optional JavaScript -->
</body>

</html>