<!doctype html>
<html lang="es-419">

<%- include('../includes/head.ejs') %>

<body>
    <!--Barra de navegacion-->
<%- include('../includes/navigation.ejs') %>
    <!--Barra de navegacion-->

    <main>

        <!-- CONTENIDO PRINCIPAL -->

        <!--Botones flotantes: whatsapp y facebook-->
<%- include('../includes/chat-buttons.ejs') %>
        <!--Botones flotantes: whatsapp y facebook-->

        <!--contenido: texto lado izquierdo y foto lado derecho-->
        <div class="container-fluid p-0 pb-3 mb-3">
            <div class="container mt-4-5rem order-2">
                <div class="row">
                    <div class="col-lg-6 my-auto pt-4 order-2 order-lg-1">
                        <h1 class="text-center naranja">Casa de los niños</h1>
                        <h3 class="text-center naranja">(3 a 6 años)</h3>
                        <p>Nuestro ambiente de <strong>Casa de los niños</strong> acoge a niños de <strong>3 a 6 años de
                                edad</strong>.
                            Se trata de un espacio adaptado a todas sus necesidades de desarrollo y crecimiento,
                            acompañados de una <strong>Guía Montessori certificada</strong> y una asistente que les
                            acompañarán durante
                            su aprendizaje todos estos años.</p>

                        <p>En este ambiente, la mezcla de edad cobra un gran protagonismo. El trabajo en equipo de hace
                            patente cuando los mayores ayudan y enseñan a los pequeños que, absortos y observadores,
                            aprenden cada movimiento de sus compañeros.</p>

                        <a class="btn bg-naranja btn-lg text-light d-block w-50 mx-auto"
                            href="/inscripciones">¡Inscríbete ya!</a>
                    </div>
                    <div class="col-lg-6 m-auto px-0 p-md-3 order-1 order-lg-2">
                        <!--Video-->
                        <div class="container-lg p-0 mt-0 mt-lg-5">
                            <div class="iframe-container">
                                <iframe width="1280" height="720" src="https://www.youtube.com/embed/grQVLPu-D_o?rel=0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Video-->
                    </div>
                </div>
            </div>
        </div>
        <!--contenido: texto lado izquierdo y foto lado derecho-->

        <!--contenido: foto lado izquiero y texto lado derecho-->
        <div class="container-fluid p-0 bg-azul2 pb-4 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3">
                        <img class="img-fluid rounded m-auto d-block"
                            src="../images/casa3.jpg"
                            alt="...">
                    </div>
                    <div class="col-md-8 my-auto py-4">
                        <h2 class="text-center text-light">¿Que es la <strong>mente absorbente</strong> en Montessori?
                        </h2>
                        <p class="text-light">Piensa durante un instante en todo lo que aprende un niño desde que nace
                            hasta que cumple seis años.</p>

                        <p class="text-light">Esto se debe a que en esa edad poseen lo que la Dra. Montessori llamó la
                            Mente Absorbente.
                            Este tipo de mente tiene la habilidad única y transitoria de absorber todos los aspectos
                            físicos, mentales y espirituales del ambiente sin esfuerzo o fatiga.</p>

                        <p class="text-light">Como una ayuda a la auto-construcción del niño se le motiva al trabajo
                            individual. Las diferentes actividades que realizan, les ayudan a cultivar la habilidad de
                            expresarse por si mismo y pensar con claridad.</p>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado izquiero y texto lado derecho-->

        <!--frase maria montessori-->
        <div class="container pt-4">
            <img src="images/maria-montessori.jpg" class="rounded-circle shadow d-block mx-auto" />
            <blockquote class="blockquote text-center p-3">
                <h3 class="mb-0 azul1">“Nuestro cuidado del niño debe regirse, no por el deseo de hacer que aprenda
                    cosas, sino por el esfuerzo de mantener siempre encendida esa luz que se llama inteligencia”.
                </h3>
                <footer class="blockquote-footer naranja">
                    María Montessori
                </footer>
            </blockquote>
        </div>
        <!--frase maria montessori-->

        <!--contenido: foto lado derecho y texto lado izquierdo-->
        <div class="container-fluid p-0 bg-azul2 pb-4 mb-0 mb-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3 order-md-2">
                        <img class="img-fluid rounded m-auto d-block"
                            src="../images/casa20.jpg"
                            alt="...">
                    </div>
                    <div class="col-md-8 my-auto py-4 order-md-1 ">
                        <h2 class="text-center text-light">Periodo en <strong>Casa de los niños</strong></h2>

                        <p class="text-light">Es un <strong>periodo sensible</strong> único e irrepetible que debe ser
                            potenciado al máximo.
                            Estos periodos son "pequeñas ventanas de oportunidad en las que los niños aprenden de forma
                            muy sencilla, sin que les cueste trabajo". Son momentos en los que comienzan a mostrar un
                            gran interés en ciertas actividades, de manera natural y espontánea.</p>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado derecho y texto lado izquierdo-->

        <!--contenido: foto lado izquierdo y texto lado derecho-->
        <div class="container-fluid p-0 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3">
                        <a href="/galerias/casa-ninios">
                            <img class="img-fluid rounded m-auto d-block"
                                src="../images/casa16.jpg"
                                alt="...">
                        </a>

                    </div>
                    <div class="col-md-8 my-auto py-4">
                        <h2 class="text-center naranja">Galería de imágenes.</h2>
                        <p>Los ambientes (aulas) tienen más de 80 m<sup>2</sup> y nuestro jardín más de 300
                            m<sup>2</sup> que permitirán el desarrollo de dicho periodo sensible.</p>

                        <p>Queremos conocer a tu familia, dale la oportunidad a tu hijo de una educación de calidad que
                            le permita obtener las herramientas para la vida.
                        </p>
                        <!--Boton grande, version telefono-->
                        <a class="btn bg-naranja btn-lg text-light d-block d-lg-none w-50 mx-auto"
                            href="/galeria/casa-ninios">Ver fotos</a>

                        <!--Boton pequeño, version escritorio-->
                        <a class="btn bg-naranja btn-lg text-light d-none d-lg-block w-25 mx-auto"
                            href="/galeria/casa-ninios">Ver fotos</a>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado izquierdo y texto lado derecho-->

        <!--footer-->
<%- include('../includes/footer.ejs') %>
        <!--footer-->

    </main>

  <!-- Optional JavaScript -->
<%- include('../includes/optional-javascript.ejs') %>
  <!-- Optional JavaScript -->
</body>

</html>