<!doctype html>
<html lang="es-419">

<%- include('../includes/head.ejs') %>

<body>
    <!--Barra de navegacion-->
<%- include('../includes/navigation.ejs') %>
    <!--Barra de navegacion-->

    <main>

        <!-- CONTENIDO PRINCIPAL -->

        <!--Botones flotantes: whatsapp y facebook-->
<%- include('../includes/chat-buttons.ejs') %>
        <!--Botones flotantes: whatsapp y facebook-->

        <!--banner-->
        <div class="container-fluid p-0 position-relative text-center mt-4-5rem">
            <picture>
                <source srcset="images/metodobanner2000.jpg" media="(min-width: 1400px)">
                <source srcset="images/metodobanner1400.jpg" media="(min-width: 769px)">
                <source srcset="images/metodobanner800.jpg" media="(min-width: 577px)">
                <img srcset="images/metodobanner600.jpg" alt="responsive image" class="img-fluid"
                    style="filter: brightness(50%)">
            </picture>
            <div class="caption-text">
                <p class="frase naranja">“Cualquier ayuda innecesaria es un obstáculo para el desarrollo”.</p>
                <p class="maria azul1 "><strong>Maria Montessori</strong></p>
                <div class="text-center">
                    <a class="btn bg-naranja btn-lg text-light d-inline-block" href="/inscripciones">¡Inscríbete
                        ya!</a>
                </div>
            </div>
        </div>
        <!--banner-->

        <div class="pt-1">
            <div class="container my-5">
                <h1 class="naranja pb-2 pt-2 text-center">¿Qué es el método Montessori?</h1>
                <p>El método Montessori fue desarrollado a principios del siglo XX para su uso en niños y
                    preadolescentes, y
                    a pesar de que ya han pasado muchos años de que lo publicó su creadora, sigue siendo vigente y
                    seguido
                    por miles de pedagogos y maestros alrededor del mundo. </p>
                <p>El método pretende esto:
                    <ul>
                        <li>Ayuda al desarrollo natural del ser humano</li>
                        <li>Estimula al niño a formar su carácter y manifestar libremente su personalidad, ante lo que
                            recibe seguridad y respeto </li>
                        <li>Favorece la responsabilidad y el desarrollo de la autodisciplina para que los niños consigan
                            su
                            independencia y libertad</li>
                        <li>Desarrolla la capacidad de participación para que el niño sea aceptado </li>
                        <li>Reconoce que el niño se construye a sí mismo, pero lo guía para su formación espiritual e
                            intelectual</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="py-4 text-center">
            <a class="btn bg-naranja btn-lg text-light d-inline" href="/preguntas">Preguntas frecuentes</a>
        </div>

        <hr>

        <!--Foto1-->
        <div class="bg-azul1 py-1">
            <div class="container my-5">
                <div class="row">

                    <div class="col-md-8 p-5 order-2 order-md-1 text-light">
                        <h4 class="text-center">¿De qué manera es diferente a lo que era el método tradicional?</h4>
                        <p>Se aleja de modelos rígidos y pone su atención en la espontaneidad y la elección libre de
                            los alumnos, pues el respeto y la
                            independencia de los niños era algo clave para Montessori.</p>
                    </div>
                    <div class="col-md-4 m-auto order-1 order-md-2">
                        <img class="img-fluid rounded m-auto d-block " src="images/metodo1.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <!--Foto1-->

        <div class="container pt-5">
            <h4 class="pt-2 pb-2 azul2">Las etapas: separar para crecer</h4>
            <p>María explicaba el desarrollo del niño hasta ser un adulto y lo separaba en 4 etapas que llamó planos:
                de 0 a 6 años, de 6 a 12 años, de 12 a 18 años y de 18 a 24 años.</p>
            <p>El método Montessori pretende adaptarse a las necesidades de las etapas, a diferencia del sistema
                educativo tradicional, del que María decía que a pesar de que era consciente de las etapas, no atiende a
                las particularidades de cada una de ellas y se olvida de la etapa fundamental que es la primera, cuando
                los niños tienen una mente absorbente. </p>
        </div>

        <hr>

        <div class="bg-azul1 py-1">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-8 p-5 order-1 order-md-2 text-light">
                        <h4 class="text-center">Un ambiente ideal</h4>
                        <p>En este método un ambiente ideal es clave para el desarrollo emocional y racional, por lo que
                            se esfuerza por construir “entornos preparados”, es decir, que los espacios educativos estén
                            adaptados a las necesidades de los alumnos en función a su edad. No sólo que haya los
                            materiales que necesitan, sino que estén a su alcance.</p>
                        <p>Debe propiciar el movimiento y la realización de actividades, estar limpio, ordenado
                            y ser estéticamente atractivo para que los niños estén en armonía y a gusto con su entorno.
                        </p>
                    </div>
                    <div class="col-md-4 m-auto order-2 order-md-1">
                        <img class="img-fluid rounded m-auto d-block" src="images/metodo2.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-5 ">
            <h4 class="pt-2 pb-2 azul2">Los adultos (y maestros) </h4>
            <p>El adulto sólo es la conexión entre el niño y el ambiente preparado, por lo que su meta sólo es ayudarlo
                a ayudarse, de ninguna forma ser una autoridad inflexible. El adulto debe de ser de gran ayuda en la
                construcción de la confianza en sí mismo del pequeño.</p>
            <p>Montessori siempre se refirió a las maestras como “guías” y su papel es diferente de los maestros
                tradicionales porque ante todo tienen que ser grandes observadores de los intereses y necesidades
                individuales. Deben usar correctamente cada material y ayudar al niño a realizar las actividades. </p>
        </div>

        <hr>

        <div class="bg-azul1 py-1">
            <div class="container my-5">
                <div class="row">
                    <div class="col-md-8 p-5 order-2 order-md-1 text-light">
                        <h4 class="text-center">El material</h4>
                        <p>Los materiales deben llamar la atención al niño, por eso pretende que
                            sean naturales, progresivos, atractivos y con un control de error. </p>
                        <div class="text-center mb-1 mt-5">
                            <a class="btn bg-naranja btn-lg text-light d-inline-block"
                                href="/inscripciones">¡Inscríbete ya!</a>
                        </div>
                    </div>
                    <div class="col-md-4 m-auto order-1 order-md-2 ">
                        <img class="img-fluid rounded m-auto d-block" src="images/metodo3.jpg" alt="...">
                    </div>
                </div>
            </div>
        </div>



        <!--footer-->
<%- include('../includes/footer.ejs') %>
        <!--footer-->

    </main>

  <!-- Optional JavaScript -->
<%- include('../includes/optional-javascript.ejs') %>
  <!-- Optional JavaScript -->
</body>

</html>