<!doctype html>
<html lang="es-419">

<%- include('../includes/head.ejs') %>

<body>
    <!--Barra de navegacion-->
<%- include('../includes/navigation.ejs') %>
    <!--Barra de navegacion-->

    <main>

        <!-- CONTENIDO PRINCIPAL -->

        <!--Botones flotantes: whatsapp y facebook-->
<%- include('../includes/chat-buttons.ejs') %>
        <!--Botones flotantes: whatsapp y facebook-->

        <!--contenido: texto lado izquierdo y foto lado derecho-->
        <div class="container-fluid p-0 pb-3 mb-3">
            <div class="container mt-4-5rem order-2">
                <div class="row">
                    <div class="col-lg-6 my-auto pt-4 order-2 order-lg-1">
                        <h1 class="text-center naranja">Taller (primaria)</h1>
                        <h3 class="text-center naranja">(6 a 12 años)</h3>
                        <p>La primaria Montessori se divide en dos ambientes:</p>
                        <p><strong>Taller I:</strong> Niños y niñas entre 6 y 9 años, es decir, 1°, 2° y 3° de primaria.</p>
                        <p><strong>Taller II:</strong> Niños y niñas entre 9 y 12 años, es decir 4°, 5° y 6° de primaria.</p>
                        <p><strong>Horarios Taller 1 y 2:</strong> 7:45 a 14:30 horas.</p>
                        <a class="btn bg-naranja btn-lg text-light d-block w-50 mx-auto"
                            href="/inscripciones">¡Inscríbete ya!</a>
                    </div>
                    <div class="col-lg-6 m-auto px-0 p-md-3 order-1 order-lg-2">
                        <!--Video-->
                        <div class="container-lg p-0 mt-0 mt-lg-5">
                            <div class="iframe-container">
                                <iframe width="1280" height="720" src="https://www.youtube.com/embed/1qxTGFZQX4E?rel=0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Video-->
                    </div>
                </div>
            </div>
        </div>
        <!--contenido: texto lado izquierdo y foto lado derecho-->

        <!--contenido: foto lado izquiero y texto lado derecho-->
        <div class="container-fluid p-0 bg-azul2 pb-4 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3">
                        <img class="img-fluid rounded m-auto d-block"
                            src="../images/taller_1.jpg"
                            alt="...">
                    </div>
                    <div class="col-md-8 my-auto py-4">
                        <h2 class="text-center text-light">¿Como funciona Taller (primaria) en Montessori?
                        </h2>
                        <p class="text-light">En Montessori la primaria se divide en dos ciclos: <strong>Taller I</strong>, en el que están los niños y niñas de 6 a 9 años, mezclados. <strong>Taller II</strong>, donde están los niños/as de 9 a 12 años. Como en todos los ambientes Montessori, mezclar edades es una oportunidad de aprendizaje tanto para los pequeños como para los mayores.</p>

                        <p class="text-light">Las asignaturas son las mismas que en la educación tradicional: matemáticas, geometría, lenguaje, arte, música, geografía, historia, educación física y lengua extranjera. En los dos ciclos se ven las mismas asignaturas, la diferencia es el nivel de conocimiento que se da en Taller I y Taller II.</p>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado izquiero y texto lado derecho-->

        <!--frase maria montessori-->
        <div class="container py-5">
            <img src="images/maria-montessori.jpg" class="rounded-circle shadow d-block mx-auto" />
            <blockquote class="blockquote text-center p-3">
                <h3 class="mb-0 azul1">“Nunca ayude a un niño con una tarea en la que sienta que puede tener éxito”.
                </h3>
                <footer class="blockquote-footer naranja">
                    María Montessori
                </footer>
            </blockquote>
        </div>
        <!--frase maria montessori-->

        <!--contenido: foto lado derecho y texto lado izquierdo-->
        <div class="container-fluid p-0 bg-azul2 pb-4 mb-0 mb-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3 order-md-2">
                        <img class="img-fluid rounded m-auto d-block"
                            src="../images/taller_2.jpg"
                            alt="...">
                    </div>
                    <div class="col-md-8 my-auto py-4 order-md-1 ">
                        <h2 class="text-center text-light">Educación y paz.</h2>
                        <p class="text-light">Todas estas áreas están incluidas en <strong>Educación cósmica</strong>, así llamamos a nuestra primaria, porque el objetivo es educar en un todo, en algo global, donde todas las áreas estén interconectadas y en las que el niño encuentre respuestas a todas las preguntas que él se hace.</p>

                        <p class="text-light">No tenemos un sistema de evaluación tradicional como el hecho de hacer exámenes y actividades que la maestra corrige. Nuestro sistema de evaluación está basado en la observación. Observamos como los alumnos van avanzando y adquiriendo los conocimientos de las distintas asignaturas.</p>

                        <p class="text-light">No se corrigen actividades poniendo una nota. Si el niño ha hecho mal una operación  pero conoce el procedimiento se lo hacemos ver.</p>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado derecho y texto lado izquierdo-->

        <!--contenido: foto lado izquierdo y texto lado derecho-->
        <div class="container-fluid p-0 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3">
                        <a href="/galerias/taller">
                            <img class="img-fluid rounded m-auto d-block"
                                src="../images/taller_3.jpg"
                                alt="...">
                        </a>

                    </div>
                    <div class="col-md-8 my-auto py-4">
                        <h2 class="text-center naranja">Galería de imágenes.</h2>
                        <p>Los ambientes (aulas) tienen más de 80 m<sup>2</sup> y nuestro jardín más de 300
                            m<sup>2</sup> que permitirán el desarrollo de dicho periodo sensible.</p>

                        <p>Queremos conocer a tu familia, dale la oportunidad a tu hijo de una educación de calidad que le permita obtener las herramientas para la vida.</p>

                        <p>Es un trabajo de crecimiento entre el niño y la Guía. La Guía intenta que el niño construya su propio aprendizaje, la corrección no está basada en poner notas ni marcar con ojo donde está el error.</p>

                        <p>En cuanto al paso de curso, los niños están 3 años en Taller I y 3 años en Taller II que es donde finaliza la primaria.</p>
                        <!--Boton grande, version telefono-->
                        <a class="btn bg-naranja btn-lg text-light d-block d-lg-none w-50 mx-auto"
                            href="/galeria/taller">Ver fotos</a>

                        <!--Boton pequeño, version escritorio-->
                        <a class="btn bg-naranja btn-lg text-light d-none d-lg-block w-25 mx-auto"
                            href="/galeria/taller">Ver fotos</a>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado izquierdo y texto lado derecho-->

        <!--footer-->
<%- include('../includes/footer.ejs') %>
        <!--footer-->

    </main>

  <!-- Optional JavaScript -->
<%- include('../includes/optional-javascript.ejs') %>
  <!-- Optional JavaScript -->
</body>

</html>