<!doctype html>
<html lang="es-419">

<%- include('../includes/head.ejs') %>

<body>
    <!--Barra de navegacion-->
<%- include('../includes/navigation.ejs') %>
    <!--Barra de navegacion-->

    <main>

        <!-- CONTENIDO PRINCIPAL -->

        <!--Botones flotantes: whatsapp y facebook-->
<%- include('../includes/chat-buttons.ejs') %>
        <!--Botones flotantes: whatsapp y facebook-->

        <!--contenido: texto lado izquierdo y foto lado derecho-->
        <div class="container-fluid p-0 pb-3 mb-3">
            <div class="container mt-4-5rem order-2">
                <div class="row">
                    <div class="col-lg-6 my-auto pt-4 order-2 order-lg-1">
                        <h1 class="text-center naranja">Taller (primaria)</h1>
                        <h3 class="text-center naranja">(6 a 12 años)</h3>
                        <p>La primaria Montessori se divide en dos ambientes:</p>
                        <p><strong>Taller I:</strong> Niños y niñas entre 6 y 9 años, es decir, 1°, 2° y 3° de primaria.</p>
                        <p><strong>Taller II:</strong> Niños y niñas entre 9 y 12 años, es decir 4°, 5° y 6° de primaria.</p>
                        <a class="btn bg-naranja btn-lg text-light d-block w-50 mx-auto"
                            href="/inscripciones">¡Inscríbete ya!</a>
                    </div>
                    <div class="col-lg-6 m-auto px-0 p-md-3 order-1 order-lg-2">
                        <!--Video-->
                        <div class="container-lg p-0 mt-0 mt-lg-5">
                            <div class="iframe-container">
                                <iframe width="1280" height="720" src="https://www.youtube.com/embed/1qxTGFZQX4E?rel=0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--Video-->
                    </div>
                </div>
            </div>
        </div>
        <!--contenido: texto lado izquierdo y foto lado derecho-->

        <!--contenido: foto lado izquiero y texto lado derecho-->
        <div class="container-fluid p-0 bg-azul2 pb-4 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3">
                        <img class="img-fluid rounded m-auto d-block"
                            src="https://placehold.it/600x480"
                            alt="...">
                    </div>
                    <div class="col-md-8 my-auto py-4">
                        <h2 class="text-center text-light">¿Como funciona Taller (primaria) en Montessori?
                        </h2>
                        <p class="text-light">En estos ambientes se fomenta la autonomía e independencia, así como la
                            planeación de su tiempo.</p>

                        <p class="text-light">Al igual que en Comunidad Infantil y Casa de Niños, conviven en el
                            ambiente preparado niños de diferentes edades, que pueden elegir libremente las actividades
                            a las que dedican su tiempo, por lo que llama la atención la tranquilidad que se respira en
                            el aula. Esta etapa, sin embargo, cuenta también con características propias, puesto que los
                            niños se encuentran en un momento de desarrollo diferente.</p>

                        <p class="text-light">Este enfoque Fomenta un sentimiento de conexión con
                            la humanidad y fomenta el deseo natural de los niños de hacer una contribución al mundo.</p>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado izquiero y texto lado derecho-->

        <!--frase maria montessori-->
        <div class="container py-5">
            <img src="images/maria-montessori.jpg" class="rounded-circle shadow d-block mx-auto" />
            <blockquote class="blockquote text-center p-3">
                <h3 class="mb-0 azul1">“Nunca ayude a un niño con una tarea en la que sienta que puede tener éxito”.
                </h3>
                <footer class="blockquote-footer naranja">
                    María Montessori
                </footer>
            </blockquote>
        </div>
        <!--frase maria montessori-->

        <!--contenido: foto lado derecho y texto lado izquierdo-->
        <div class="container-fluid p-0 bg-azul2 pb-4 mb-0 mb-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3 order-md-2">
                        <img class="img-fluid rounded m-auto d-block"
                            src="https://placehold.it/600x480"
                            alt="...">
                    </div>
                    <div class="col-md-8 my-auto py-4 order-md-1 ">
                        <h2 class="text-center text-light">Educación y paz.</h2>
                        <p class="text-light">Frente a la parcelación que implican las asignaturas, el currículum
                            Montessori para primaria se divide en diferentes áreas interrelacionadas entre sí, que
                            buscan ofrecer una visión global que dé respuesta a las preguntas que surgen en este momento
                            ¿quién soy yo? ¿qué es el universo? ¿qué lugar ocupo en él?
                        <p class="text-light">Si en la etapa de infantil los pequeños estaban interesados sobre todo en su entorno
                            inmediato -que querían ver, tocar y hasta saborear- a partir de los seis años se produce un
                            cambio importante.
                        <p class="text-light">Su mente ya es capaz de comprender conceptos abstractos y siente un gran
                            apetito por el saber, por comprender el universo y el mundo de la cultura.</p>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado derecho y texto lado izquierdo-->

        <!--contenido: foto lado izquierdo y texto lado derecho-->
        <div class="container-fluid p-0 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 m-auto px-0 p-md-3">
                        <a href="/galerias/taller">
                            <img class="img-fluid rounded m-auto d-block"
                                src="https://placehold.it/600x480"
                                alt="...">
                        </a>

                    </div>
                    <div class="col-md-8 my-auto py-4">
                        <h2 class="text-center naranja">Galería de imágenes.</h2>
                        <p>Los ambientes (aulas) tienen más de 80 m<sup>2</sup> y nuestro jardín más de 300
                            m<sup>2</sup> que permitirán el desarrollo de dicho periodo sensible.</p>

                        <p>Queremos conocer a tu familia, dale la oportunidad a tu hijo de una educación de calidad que
                            le permita obtener las herramientas para la vida.
                        </p>
                        <!--Boton grande, version telefono-->
                        <a class="btn bg-naranja btn-lg text-light d-block d-lg-none w-50 mx-auto"
                            href="/galeria/taller">Ver fotos</a>

                        <!--Boton pequeño, version escritorio-->
                        <a class="btn bg-naranja btn-lg text-light d-none d-lg-block w-25 mx-auto"
                            href="/galeria/taller">Ver fotos</a>

                    </div>
                </div>
            </div>
        </div>
        <!--contenido: foto lado izquierdo y texto lado derecho-->

        <!--footer-->
<%- include('../includes/footer.ejs') %>
        <!--footer-->

    </main>

  <!-- Optional JavaScript -->
<%- include('../includes/optional-javascript.ejs') %>
  <!-- Optional JavaScript -->
</body>

</html>